# 2. Open API 활용

### 공공데이터포털 Open API 사용하기
1. 공공데이터포털 사이트 회원가입 및 로그인 (https://www.data.go.kr)
2. API 사용 요청, 키 발급
3. API 매뉴얼 확인
4. API 연동 개발 및 테스트

In [1]:
import requests
# xml parsing
import xmltodict
import json
import pandas as pd

### 보건복지부_코로나19감염현황 조회 서비스 - XML 데이터
* 데이터찾기 > 데이터목록
* 오픈 API > 조회순으로 검색
* serviceKey 값 확인하기 (미리 신청하기)
* endpoint 확인하기 (API가 서비스되는 주소)

In [2]:
serviceKey = 'HIb%2F2BPBgQzxpVWatpNeU5NCBg0sGxhhURG05vt5CWkzObxA0c75Aq2%2F8yHJZovooKIlnbydLsAXTQE%2BbFwc7w%3D%3D'

endpoint = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey={}&pageNo=1&numOfRows=10&startCreateDt=20210805&endCreateDt=20210808'.format(serviceKey)
endpoint

'http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson?serviceKey=HIb%2F2BPBgQzxpVWatpNeU5NCBg0sGxhhURG05vt5CWkzObxA0c75Aq2%2F8yHJZovooKIlnbydLsAXTQE%2BbFwc7w%3D%3D&pageNo=1&numOfRows=10&startCreateDt=20210805&endCreateDt=20210808'

In [5]:
res = requests.get(endpoint)
res.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header><resultCode>00</resultCode><resultMsg>NORMAL SERVICE.</resultMsg></header><body><items><item><accDefRate>1.8246269102</accDefRate><accExamCnt>12027437</accExamCnt><accExamCompCnt>11561158</accExamCompCnt><careCnt>23840</careCnt><clearCnt>184987</clearCnt><createDt>2021-08-08 00:00:00.0</createDt><deathCnt>2121</deathCnt><decideCnt>210948</decideCnt><examCnt>466279</examCnt><resutlNegCnt>11350210</resutlNegCnt><seq>567</seq><stateDt>20210808</stateDt><stateTime>00:00</stateTime><updateDt>2021-10-28 20:31:36.737</updateDt></item><item><accDefRate>1.811282604</accDefRate><accExamCnt>11995923</accExamCnt><accExamCompCnt>11550986</accExamCompCnt><careCnt>23435</careCnt><clearCnt>183670</clearCnt><createDt>2021-08-07 00:00:00.000</createDt><deathCnt>2116</deathCnt><decideCnt>209221</decideCnt><examCnt>444937</examCnt><resutlNegCnt>11341765</resutlNegCnt><seq>566</seq><stateDt>20210807</stateDt><stateTime>00:00</stateTime><updateDt>2021-10-07 10:30:51.51</updateDt></item><item><accDefRate>1.799611891</accDefRate><accExamCnt>11951646</accExamCnt><accExamCompCnt>11524596</accExamCompCnt><careCnt>22828</careCnt><clearCnt>182457</clearCnt><createDt>2021-08-06 00:00:00.000</createDt><deathCnt>2113</deathCnt><decideCnt>207398</decideCnt><examCnt>427050</examCnt><resutlNegCnt>11317198</resutlNegCnt><seq>565</seq><stateDt>20210806</stateDt><stateTime>00:00</stateTime><updateDt>2021-10-07 10:30:51.51</updateDt></item><item><accDefRate>1.789742069</accDefRate><accExamCnt>11908430</accExamCnt><accExamCompCnt>11492941</accExamCompCnt><careCnt>22863</careCnt><clearCnt>180722</clearCnt><createDt>2021-08-05 00:00:00.000</createDt><deathCnt>2109</deathCnt><decideCnt>205694</decideCnt><examCnt>415489</examCnt><resutlNegCnt>11287247</resutlNegCnt><seq>564</seq><stateDt>20210805</stateDt><stateTime>00:00</stateTime><updateDt>2021-10-07 10:30:51.51</updateDt></item></items><numOfRows>10</numOfRows><pageNo>1</pageNo><totalCount>4</totalCount></body></response>'

In [12]:
temp = xmltodict.parse(res.text) # return collections.OrderedDict
temp

OrderedDict([('response',
              OrderedDict([('header',
                            OrderedDict([('resultCode', '00'),
                                         ('resultMsg', 'NORMAL SERVICE.')])),
                           ('body',
                            OrderedDict([('items',
                                          OrderedDict([('item',
                                                        [OrderedDict([('accDefRate',
                                                                       '1.8246692115'),
                                                                      ('accExamCnt',
                                                                       '12027443'),
                                                                      ('accExamCompCnt',
                                                                       '11561164'),
                                                                      ('careCnt',
                                                                       '23829'),
                                                                      ('clearCnt',
                                                                       '185003'),
                                                                      ('createDt',
                                                                       '2021-08-08 09:43:32.979'),
                                                                      ('deathCnt',
                                                                       '2121'),
                                                                      ('decideCnt',
                                                                       '210953'),
                                                                      ('examCnt',
                                                                       '466279'),
                                                                      ('resutlNegCnt',
                                                                       '11350211'),
                                                                      ('seq',
                                                                       '597'),
                                                                      ('stateDt',
                                                                       '20210808'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2021-08-18 10:18:16.473')]),
                                                         OrderedDict([('accDefRate',
                                                                       '1.8113166057'),
                                                                      ('accExamCnt',
                                                                       '11995927'),
                                                                      ('accExamCompCnt',
                                                                       '11550990'),
                                                                      ('careCnt',
                                                                       '23321'),
                                                                      ('clearCnt',
                                                                       '183788'),
                                                                      ('createDt',
                                                                       '2021-08-07 09:40:18.999'),
                                                                      ('deathCnt',
                                                                       '2116'),
                                                                      ('decideCnt',
                                                                       '209225'),
                                                                      ('examCnt',
                                                                       '444937'),
                                                                      ('resutlNegCnt',
                                                                       '11341765'),
                                                                      ('seq',
                                                                       '596'),
                                                                      ('stateDt',
                                                                       '20210807'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2021-08-18 10:18:03.621')]),
                                                         OrderedDict([('accDefRate',
                                                                       '1.7996458185'),
                                                                      ('accExamCnt',
                                                                       '11951651'),
                                                                      ('accExamCompCnt',
                                                                       '11524601'),
                                                                      ('careCnt',
                                                                       '23235'),
                                                                      ('clearCnt',
                                                                       '182054'),
                                                                      ('createDt',
                                                                       '2021-08-06 09:43:45.386'),
                                                                      ('deathCnt',
                                                                       '2113'),
                                                                      ('decideCnt',
                                                                       '207402'),
                                                                      ('examCnt',
                                                                       '427050'),
                                                                      ('resutlNegCnt',
                                                                       '11317199'),
                                                                      ('seq',
                                                                       '595'),
                                                                      ('stateDt',
                                                                       '20210806'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2021-08-18 10:17:34.677')]),
                                                         OrderedDict([('accDefRate',
                                                                       '1.7897760939'),
                                                                      ('accExamCnt',
                                                                       '11908435'),
                                                                      ('accExamCompCnt',
                                                                       '11492946'),
                                                                      ('careCnt',
                                                                       '22868'),
                                                                      ('clearCnt',
                                                                       '180721'),
                                                                      ('createDt',
                                                                       '2021-08-05 09:50:52.915'),
                                                                      ('deathCnt',
                                                                       '2109'),
                                                                      ('decideCnt',
                                                                       '205698'),
                                                                      ('examCnt',
                                                                       '415489'),
                                                                      ('resutlNegCnt',
                                                                       '11287248'),
                                                                      ('seq',
                                                                       '594'),
                                                                      ('stateDt',
                                                                       '20210805'),
                                                                      ('stateTime',
                                                                       '00:00'),
                                                                      ('updateDt',
                                                                       '2021-08-18 10:17:14.68')])])])),
                                         ('numOfRows', '10'),
                                         ('pageNo', '1'),
                                         ('totalCount', '4')]))]))])

In [28]:
result = json.loads(json.dumps(temp)) # string -> dict
result

{'response': {'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'},
  'body': {'items': {'item': [{'accDefRate': '1.8246692115',
      'accExamCnt': '12027443',
      'accExamCompCnt': '11561164',
      'careCnt': '23829',
      'clearCnt': '185003',
      'createDt': '2021-08-08 09:43:32.979',
      'deathCnt': '2121',
      'decideCnt': '210953',
      'examCnt': '466279',
      'resutlNegCnt': '11350211',
      'seq': '597',
      'stateDt': '20210808',
      'stateTime': '00:00',
      'updateDt': '2021-08-18 10:18:16.473'},
     {'accDefRate': '1.8113166057',
      'accExamCnt': '11995927',
      'accExamCompCnt': '11550990',
      'careCnt': '23321',
      'clearCnt': '183788',
      'createDt': '2021-08-07 09:40:18.999',
      'deathCnt': '2116',
      'decideCnt': '209225',
      'examCnt': '444937',
      'resutlNegCnt': '11341765',
      'seq': '596',
      'stateDt': '20210807',
      'stateTime': '00:00',
      'updateDt': '2021-08-18 10:18:03.621'},
     {'accDefRate': '1.7996458185',
      'accExamCnt': '11951651',
      'accExamCompCnt': '11524601',
      'careCnt': '23235',
      'clearCnt': '182054',
      'createDt': '2021-08-06 09:43:45.386',
      'deathCnt': '2113',
      'decideCnt': '207402',
      'examCnt': '427050',
      'resutlNegCnt': '11317199',
      'seq': '595',
      'stateDt': '20210806',
      'stateTime': '00:00',
      'updateDt': '2021-08-18 10:17:34.677'},
     {'accDefRate': '1.7897760939',
      'accExamCnt': '11908435',
      'accExamCompCnt': '11492946',
      'careCnt': '22868',
      'clearCnt': '180721',
      'createDt': '2021-08-05 09:50:52.915',
      'deathCnt': '2109',
      'decideCnt': '205698',
      'examCnt': '415489',
      'resutlNegCnt': '11287248',
      'seq': '594',
      'stateDt': '20210805',
      'stateTime': '00:00',
      'updateDt': '2021-08-18 10:17:14.68'}]},
   'numOfRows': '10',
   'pageNo': '1',
   'totalCount': '4'}}}

In [29]:
items = result['response']['body']['items']['item']
for item in items:
    print(item['stateDt'])

20210808
20210807
20210806
20210805

In [30]:
items = result['response']['body']['items']['item']
stateDt_list = []    # 기준일
decideCnt_list = []  # 확진자수
deathCnt_list = []   # 사망자수
careCnt_list = []    # 치료중 환자수
for item in items:
    #print(item['name'])
    stateDt_list.append(item['stateDt'])
    decideCnt_list.append(item['decideCnt'])
    deathCnt_list.append(item['deathCnt'])
    careCnt_list.append(item['careCnt'])
stateDt_list

['20210808', '20210807', '20210806', '20210805']

In [31]:
# dataframe 형태로 만들기
df_data = {'기준일': stateDt_list, 
           '확진자수': decideCnt_list, 
           '사망자수': deathCnt_list,
           '치료중환자수': careCnt_list}
df_data

{'기준일': ['20210808', '20210807', '20210806', '20210805'],
 '확진자수': ['210953', '209225', '207402', '205698'],
 '사망자수': ['2121', '2116', '2113', '2109'],
 '치료중환자수': ['23829', '23321', '23235', '22868']}

In [32]:
df = pd.DataFrame(data=df_data)
df

        기준일    확진자수  사망자수 치료중환자수
0  20210808  210953  2121  23829
1  20210807  209225  2116  23321
2  20210806  207402  2113  23235
3  20210805  205698  2109  22868

### 한국관광공사_국문 관광정보 서비스 - JSON 데이터
* 데이터찾기 > 데이터목록
* 오픈 API > 활용순으로 검색

In [33]:
serviceKey = 'HIb%2F2BPBgQzxpVWatpNeU5NCBg0sGxhhURG05vt5CWkzObxA0c75Aq2%2F8yHJZovooKIlnbydLsAXTQE%2BbFwc7w%3D%3D'
pageNo = 1

endpoint = 'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={}&pageNo={}&numOfRows=10&MobileOS=ETC&MobileApp=AppTest&_type=json'.format(serviceKey, pageNo)
endpoint

'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey=HIb%2F2BPBgQzxpVWatpNeU5NCBg0sGxhhURG05vt5CWkzObxA0c75Aq2%2F8yHJZovooKIlnbydLsAXTQE%2BbFwc7w%3D%3D&pageNo=1&numOfRows=10&MobileOS=ETC&MobileApp=AppTest&_type=json'

In [34]:
res = requests.get(endpoint)
data = res.json()
data

{'response': {'header': {'resultCode': '0000', 'resultMsg': 'OK'},
  'body': {'items': {'item': [{'code': 1, 'name': '서울', 'rnum': 1},
     {'code': 2, 'name': '인천', 'rnum': 2},
     {'code': 3, 'name': '대전', 'rnum': 3},
     {'code': 4, 'name': '대구', 'rnum': 4},
     {'code': 5, 'name': '광주', 'rnum': 5},
     {'code': 6, 'name': '부산', 'rnum': 6},
     {'code': 7, 'name': '울산', 'rnum': 7},
     {'code': 8, 'name': '세종특별자치시', 'rnum': 8},
     {'code': 31, 'name': '경기도', 'rnum': 9},
     {'code': 32, 'name': '강원도', 'rnum': 10}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 17}}}

In [35]:
numOfRows = data['response']['body']['numOfRows']
totalCount = data['response']['body']['totalCount']

queryCount = totalCount // numOfRows
if totalCount % numOfRows > 0:
    queryCount += 1
queryCount

2

In [36]:
code_list = []
name_list = []
rnum_list = []

for i in range(queryCount):
    pageNo = i + 1
    endpoint = 'http://api.visitkorea.or.kr/openapi/service/rest/KorService/areaCode?ServiceKey={}&pageNo={}&numOfRows=10&MobileOS=ETC&MobileApp=AppTest&_type=json'.format(serviceKey, pageNo)
    res = requests.get(endpoint)
    data = res.json()

    items = data['response']['body']['items']['item']
    for item in items:
        #print(item['name'])
        code_list.append(item['code'])
        name_list.append(item['name'])
        rnum_list.append(item['rnum'])
code_list

[1, 2, 3, 4, 5, 6, 7, 8, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [37]:
# dataframe 형태로 만들기
df_data = {'code': code_list, 
           'name': name_list, 
           'rnum': rnum_list}
df_data

{'code': [1, 2, 3, 4, 5, 6, 7, 8, 31, 32, 33, 34, 35, 36, 37, 38, 39],
 'name': ['서울',
  '인천',
  '대전',
  '대구',
  '광주',
  '부산',
  '울산',
  '세종특별자치시',
  '경기도',
  '강원도',
  '충청북도',
  '충청남도',
  '경상북도',
  '경상남도',
  '전라북도',
  '전라남도',
  '제주도'],
 'rnum': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]}

In [38]:
df = pd.DataFrame(data=df_data)
df

    code     name  rnum
0      1       서울     1
1      2       인천     2
2      3       대전     3
3      4       대구     4
4      5       광주     5
5      6       부산     6
6      7       울산     7
7      8  세종특별자치시     8
8     31      경기도     9
9     32      강원도    10
10    33     충청북도    11
11    34     충청남도    12
12    35     경상북도    13
13    36     경상남도    14
14    37     전라북도    15
15    38     전라남도    16
16    39      제주도    17